<footer class="footer">
	<div class="footer navbar-fixed-bottom" id="footer">
		<p class="text-muted">Posted by: Nguyen Hai Nam</p>
  		<p class="text-muted">Contact in formation: <a href="mailto:hainamnguyen@yahoo.com">hainamnguyen@yahoo.com</a>.</p>
</footer>